@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&family=Quicksand:wght@300;400&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: Poppins;
}

.navbar {
	height: 5vh;
}

.hello-word {
	text-align: center;
	font-weight: bold;
	font-size: 70px;
	margin-top: 250px;
	margin-bottom: -300px;
}

.login {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login input {
	width: 200px;
	height: 30px;
	margin: 10px;
}

.login button {
	font-size: 18px;
	padding: 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 10px;
	color: #333;
	font-weight: bold;
	box-shadow: 2px 3px #e9e9e9;
	display: flex;
}

.login span {
	margin-top: 20px;
	font-size: 12px;
	color: red;
}

.gen-button {
	font-size: 18px;
	padding: 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 10px;
	color: #333;
	font-weight: bold;
	box-shadow: 2px 3px #e9e9e9;
	display: flex;
}

.gen-button[disabled] {
	cursor: not-allowed;
}

.gen-input {
	width: 50%;
	height: 20px;
	border: none;
	background-color: #fff;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 2px 3px #e9e9e9;
	margin-bottom: 20px;
	font-size: 20px;
}

.image-gen {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 95vh;
}

.item {
	width: 50%;
	padding: 2em;
}

.image-gen form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (max-width: 600px) {
	.image-gen {
		flex-direction: column;
	}
	.item {
		width: auto;
		min-height: 200px;
		align-items: center;
	}
}

.image-generated {
	width: 100%;
}

.loading-container {
	display: flex;
	align-items: center;
}

.loading-text {
	margin-right: 10px; /* Adjust as needed */
}

.loader {
	width: 60px;
	height: 30px;
	align-items: center;
	display: inline-block;
}

.carousel-image {
	height: 10px;
}

.mapping-container {
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mapping-container img {
	width: 50px;
	cursor: pointer;
}

.mapping-container ul {
	display: flex;
	gap: 3px;
	list-style: none;
	padding: 10px;
}

.save-button {
	border: none;
}

.icon {
	background-color: #eee;
	height: 30px;
	width: 30px;
	padding: 10px;
	cursor: pointer;
}

.about-image-edit .field {
	background-color: #eee;
	width: 20%;
	height: 16px;
	border: none;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 2px 3px #e9e9e9;
	margin-bottom: 20px;
	font-size: 20px;
	margin: 10px;
}

.about-image-edit {
	display: flex;
	gap: auto;
}

.about-image-edit button {
	margin-right: 0;
}
